body{
	background-image: url("../images/colorfulbackdrop.jpg"); 
}
#correctIncorrect, .timeDiv, #questionContent{
	color: yellow;
}
.choices{
	visibility: hidden;
	width: 340px;
	margin-bottom: 10px;
}
#titleDiv{
	font-weight: bold;
}